Repository inveniosoftware-contrib/citadel-search: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_base_image, build_dev_version, import_image_dev

build_base_image:
  stage: build_base
  tags:
  - docker-image-build
  script: echo "Building base Docker image..."
  variables:
    DOCKER_FILE: Dockerfile-base
    TO: gitlab-registry.cern.ch/webservices/cern-search/cern-search-rest-api/cern-search-rest-api-base:${CI_COMMIT_SHA}

build_dev_version:
  stage: build
  environment: staging
  tags:
  - docker-image-build
  script: echo "Building Dev/QA Docker image..."
  variables:
    BUILD_ARG: build_env=dev

import_image_dev:
  stage: import_image
  environment: staging
  image: gitlab-registry.cern.ch/paas-tools/openshift-client:latest
  script:
  - oc import-image ${RESOURCE}:${CI_COMMIT_TAG:-latest} --token=${TOKEN} --server=${OPENSHIFT_SERVER} -n ${NAMESPACE}
  variables:
    TOKEN: ${SERVICE_ACCOUNT_TOKEN_PROD}
  ...

build: bugfixes and improvements
  .env
  Pipfile
  Pipfile.lock
  docker-compose.full.yml
  scripts/gen-cert.sh
Due: build_base_image

Docker: update base image
  Dockerfile
Due: build_dev_version, import_image_dev

docker: lower version of docker-compose
  docker-compose.full.yml
  docker-compose.yml
Due: build_dev_version, import_image_dev

Makefile: avoid using `shell`
  Makefile
Due: build_dev_version, import_image_dev

Makefile: enforce /bin/bash as shell
  Makefile
  scripts/pipenv/requirements.sh
Due: build_dev_version, import_image_dev

[48] permissions: make schema owner configurable and refactor logic
  Pipfile
  Pipfile.lock
  cern_search_rest_api/modules/cernsearch/permissions.py
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/test_permissions.py
Due: build_base_image

[83] Mappings: add edms objects
  cern_search_rest_api/modules/cernsearch/jsonschemas/edms/edms/inforeamobject_v1.0.0.json
  cern_search_rest_api/modules/cernsearch/jsonschemas/edms/edms/item_v1.0.0.json
  cern_search_rest_api/modules/cernsearch/jsonschemas/edms/edms/project_v1.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/document_v3.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/document_v4.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/file_v3.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/inforeamobject_v1.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/item_v1.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/project_v1.0.0.json
Due: build_dev_version, import_image_dev

tests: refactor
  .api_token
  tests/api/__init__.py
  tests/api/conftest.py
  tests/api/helpers.py
  tests/api/test_api_flow.py
  tests/api/test_binary_files.py
  tests/api/test_schema_validation.py
  tests/api/test_search.py
  tests/api/test_suggester.py
  tests/test_suggester.py
  tests/test_ui.py
  tests/ui/__init__.py
  tests/ui/conftest.py
  tests/ui/test_ui.py
Due: build_dev_version, import_image_dev

ci: add test step
  .api_token
  .gitlab-ci.yml
  Makefile
  scripts/create-test-user.sh
  scripts/populate-instance.sh
Due: build_dev_version, import_image_dev

docker: update base image tag
  Dockerfile
Due: build_dev_version, import_image_dev

tests: automate testing
  .env
  .gitignore
  .pipenv.env
  Makefile
  Pipfile
  Pipfile.lock
  cern_search_rest_api/config.py
  cern_search_rest_api/modules/cernsearch/ext.py
  docker-compose.full.yml
  scripts/create-test-user.sh
  setup.cfg
  setup.py
Due: build_base_image

global: env configurations
  .gitignore
  Makefile
  cern_search_rest_api/config.py
  cern_search_rest_api/modules/cernsearch/ext.py
  docker-compose.full.yml
  docker-compose.yml
  setup.cfg
  tests/conftest.py
Due: build_dev_version, import_image_dev

tests: remove binary tests
  tests/api/test_binary_files.py
Due: build_dev_version, import_image_dev

tests: remove binary tests
  tests/api/test_schema_validation.py
  tests/api/test_search.py
  tests/ui/test_ui.py
Due: build_dev_version, import_image_dev

test: add pytest-mock dependency
  Pipfile
  Pipfile.lock
Due: build_base_image

build: separate test/full docker environment
  .gitlab-ci.yml
  Makefile
  docker-compose.full.yml
Due: build_dev_version, import_image_dev

build: remove on merge request from steps
  .gitlab-ci.yml
Due: build_dev_version, import_image_dev

tests: add test docker-compose
  docker-compose.test.yml
Due: build_dev_version, import_image_dev

build: force build base image step
  Dockerfile-base
Due: build_base_image, import_image_dev

docker: update base image tag
  Dockerfile
  Dockerfile-base
Due: build_base_image, import_image_dev

[88] files: implement file upload
  .env
  .flake8
  .pipenv.env
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  cern_search_rest_api/config.py
  cern_search_rest_api/modules/cernsearch/api.py
  cern_search_rest_api/modules/cernsearch/jsonschemas/edms/edms/file_v4.0.0.json
  cern_search_rest_api/modules/cernsearch/jsonschemas/test/test/file_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/file_v4.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/file_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/permissions.py
  cern_search_rest_api/modules/cernsearch/utils.py
  docker-compose.full.yml
  docker-compose.test.yml
  scripts/populate-instance.sh
  tests/api/test_api_flow.py
  tests/ui/test_ui.py
Due: build_base_image

[85] edms: file v5 (create record with_bucket flag)
  .env
  .pipenv.env
  cern_search_rest_api/modules/cernsearch/api.py
  cern_search_rest_api/modules/cernsearch/jsonschemas/edms/edms/document_v5.0.0.json
  cern_search_rest_api/modules/cernsearch/jsonschemas/edms/edms/file_v5.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/document_v5.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/file_v5.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/api_ubq_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/binary_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/date_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/doc_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/file_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/nested_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/permission_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/suggest_v0.0.2.json
  cern_search_rest_api/modules/cernsearch/utils.py
Due: build_dev_version, import_image_dev

edms: file v5 improvements
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/file_v5.0.0.json
Due: build_dev_version, import_image_dev

[91] ci: refactor to dev, test and prod usecase
  .gitlab-ci.yml
  Dockerfile
  Dockerfile-base
Due: build_base_image, import_image_dev

global: rate limit configuration update
  .env
  .pipenv.env
  cern_search_rest_api/config.py
Due: build_dev_version, import_image_dev

[SEARCH-9] Add file processing queue + worker + docker config
  .env
  .gitlab-ci.yml
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  cern_search_rest_api/config.py
  cern_search_rest_api/modules/cernsearch/celery.py
  cern_search_rest_api/modules/cernsearch/ext.py
  cern_search_rest_api/modules/cernsearch/receivers.py
  cern_search_rest_api/modules/cernsearch/tasks.py
  docker-compose.full.yml
  docker-compose.test.yml
  docker-compose.yml
  scripts/pipenv/server
  setup.py
  tests/api/test_schema_validation.py
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/test_permissions.py
  tests/unit/test_tasks.py
Due: build_base_image

[SEARCH-7] Implement bucket to persist record's file's extracted content
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  README.md
  cern_search_rest_api/modules/cernsearch/api.py
  cern_search_rest_api/modules/cernsearch/celery.py
  cern_search_rest_api/modules/cernsearch/ext.py
  cern_search_rest_api/modules/cernsearch/jsonschemas/test/test/file_v0.0.3.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/file_v0.0.3.json
  cern_search_rest_api/modules/cernsearch/receivers.py
  cern_search_rest_api/modules/cernsearch/tasks.py
  docker-compose.test.yml
  tests/unit/conftest.py
  tests/unit/test_api.py
  tests/unit/test_receivers.py
  tests/unit/test_tasks.py
Due: build_base_image

[SEARCH-13] Index file content
  .env
  .gitignore
  Dockerfile
  Pipfile
  Pipfile.lock
  cern_search_rest_api/config.py
  cern_search_rest_api/modules/cernsearch/api.py
  cern_search_rest_api/modules/cernsearch/errors.py
  cern_search_rest_api/modules/cernsearch/ext.py
  cern_search_rest_api/modules/cernsearch/files.py
  cern_search_rest_api/modules/cernsearch/indexer.py
  cern_search_rest_api/modules/cernsearch/jsonschemas/test/test/file_v0.0.4.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/file_v0.0.4.json
  cern_search_rest_api/modules/cernsearch/receivers.py
  cern_search_rest_api/modules/cernsearch/tasks.py
  cern_search_rest_api/modules/cernsearch/views.py
  setup.py
  tests/unit/conftest.py
  tests/unit/test_api.py
  tests/unit/test_files.py
  tests/unit/test_receivers.py
  tests/unit/test_tasks.py
Due: build_base_image

[SEARCH-16] File update / removal
  .env
  .gitlab-ci.yml
  .pipenv.env
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  cern_search_rest_api/config.py
  cern_search_rest_api/modules/cernsearch/api.py
  cern_search_rest_api/modules/cernsearch/ext.py
  cern_search_rest_api/modules/cernsearch/files.py
  cern_search_rest_api/modules/cernsearch/indexer.py
  cern_search_rest_api/modules/cernsearch/jsonschemas/test/test/file_v0.0.4.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/file_v0.0.4.json
  cern_search_rest_api/modules/cernsearch/receivers.py
  cern_search_rest_api/modules/cernsearch/views.py
  docker-compose.yml
  scripts/pipenv/bootstrap
  scripts/pipenv/populate-instance.sh
  setup.cfg
  tests/api/conftest.py
  tests/api/helpers.py
  tests/api/test_api_flow.py
  tests/api/test_files.py
  tests/api/test_schema_validation.py
  tests/api/test_search.py
  tests/api/test_suggester.py
  tests/conftest.py
  tests/ui/conftest.py
  tests/ui/test_ui.py
  tests/unit/conftest.py
  tests/unit/test_api.py
  tests/unit/test_receivers.py
Due: build_base_image

edms: file v6
  cern_search_rest_api/modules/cernsearch/jsonschemas/edms/edms/file_v6.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/edms/v6/edms/file_v6.0.0.json
  cern_search_rest_api/modules/cernsearch/mappings/test/v6/test/file_v0.0.4.json
Due: build_dev_version, import_image_dev

[SEARCH-36] Stress tests improvements
  .env
  .pipenv.env
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  cern_search_rest_api/config.py
  cern_search_rest_api/modules/cernsearch/files.py
  cern_search_rest_api/modules/cernsearch/indexer.py
  cern_search_rest_api/modules/cernsearch/tasks.py
  docker-compose.test.yml
  nginx/nginx.conf
Due: build_base_image

[NI] Test improvements
  tests/api/test_files.py
  tests/api/test_search.py
  tests/api/test_suggester.py
Due: build_dev_version, import_image_dev

[NI] Update Invenio-Files-Processor
  Pipfile.lock
Due: build_base_image

pipfile: update dependencies
  Pipfile.lock
Due: build_base_image

dockerfile: update base image
  Dockerfile
Due: build_dev_version, import_image_dev

update tika image. use celery default pool
  docker-compose.test.yml
Due: build_dev_version, import_image_dev

[NI] Lock invenio-files-processor
  Dockerfile
  Pipfile
  Pipfile.lock
Due: build_base_image

Update CHANGES.md
  CHANGES.md
Due: build_dev_version, import_image_dev

Path conditions:
  build_base_image: any of: Dockerfile-base, Pipfile, Pipfile.lock
  build_dev_version: not (any of: Dockerfile-base, Pipfile, Pipfile.lock)
  import_image_dev: not (any of: Dockerfile\-base, Pipfile, Pipfile.lock)
